@CHARSET "UTF-8";

.wrap {
    width: 100%;
    border: 1px brown solid;
    margin-top: 65px;
}

.layout {
    width: 20%;
    padding: 0px;
    display: inline-block;
    background-color: #ccc;
  	float:left;
}

.content{
  padding-left: 5px;
  height: 120px;
  overflow: auto;
}
.resizable2 .content {
  padding-left: 15px;
}
.resizable2 {
	width: 80%;
    background-image: url("https://pimpilla.files.wordpress.com/2013/06/damask_wallpaper_seamless_background_light_gray.jpg");
}
/* .ui-resizable-e {  */
/*     cursor: ew-resize;  */
/*     width: 10px;  */
/*     right: -10px;  */
/*     top: 0;  */
/*     bottom: 0;  */
/*     background-color: gray; */
/* } */
#label
{
   display: block;
   float: left;
}

#btn-color-apply {
	margin: 10px;
	float: right;
}

#btn-exposure-apply {
	margin: 10px;
	float: right;
}

#btn-resize-apply {
	margin: 10px;
	float: right;
}

#btn-rotate-apply {
	margin: 10px;
	float: right;
}

#btn-grayscale {
	margin: 10px;
	float: right;
}

#btn-negate {
	margin: 10px;
	float: right;
}

#btn-vignette {
	margin: 10px;
	float: right;
}

#btn-oilpaint {
	margin: 10px;
	float: right;
}

#btn-gradient-fade {
	margin: 10px;
	float: right;
}

#btn-sepia {
	margin: 10px;
	float: right;
}

#btn-autoAdjust {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

#btn-hsv-apply {
	margin: 10px;
	float: right;
}

#btn-pixelate-apply {
	margin: 10px;
	float: right;
}

#btn-blur-apply {
	margin: 10px;
	float: right;
}

#btn-sharpen-apply {
	margin: 10px;
	float: right;
}

#btn-frame {
	margin: 10px;
	float: right;
}

#btn-textoverlay {
	margin: 10px;
	float: right;
}

#slider-red {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-green {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-blue {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-rotate {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-resize {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-brightness {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-contrast {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-saturation {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-hue {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-pixelate {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-blur {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-sharpen {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#slider-frame-border {
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

#red-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#green-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#blue-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#brightness-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#contrast-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#resize-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#rotate-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#saturation-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#hue-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#pixelate-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#blur-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#sharpen-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#slider-frame-amount {
	margin-top: 15px;
	margin-right: 0.1em;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border:0;
	font-weight:bold;
}

#overlay-pos-option {
      width: 200px;
    }

  #toolbar {
    padding: 4px;
    display: inline-block;
    margin-left: auto;
	margin-right: auto;
	position: fixed;
	width: 100%;
  }
  /* support: IE7 */
  *+html #toolbar {
    display: inline;
  }
  
  .ui-menu 
  {
    position: absolute;
    width: 200px;
    }

#canvas {
	width: 90%;
	height: 70%;
	max-width: 95%;
	max-height: 75%;
	min-width: 20%;
	min-height: 15%;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  	top: 55%;
  	transform: translateY(-50%); 
	background-color: #ccc;

	
}
	#canvas img {
	width: 100%;
	height: 100%;
	}

#feedback { font-size: 0.9em; }
  #list_basic .ui-selecting { background: #EFEFEF; }
  #list_basic .ui-selected { background: #EFEFEF; color: gray; }
  #list_basic { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #list_basic li { margin: 2px; padding: 0.4em; font-size: 0.8em; overflow: auto; overflow-x: hidden; overflow-y: hidden;}
  
#feedback { font-size: 0.9em; }
  #list_effect .ui-selecting { background: #EFEFEF; }
  #list_effect .ui-selected { background: #EFEFEF; color: gray; }
  #list_effect { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #list_effect li { margin: 2px; padding: 0.4em; font-size: 0.8em; overflow: auto; overflow-x: hidden; overflow-y: hidden;}
  
  #feedback { font-size: 0.9em; }
  #list_overlay .ui-selecting { background: #EFEFEF; }
  #list_overlay .ui-selected { background: #EFEFEF; color: gray; }
  #list_overlay { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #list_overlay li { margin: 2px; padding: 0.4em; font-size: 0.8em; overflow: auto; overflow-x: hidden; overflow-y: hidden;}